
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 6%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar #navbar_list{
    flex: 1;
    list-style: none;
    color: #676767;
}

#navbar_list li{
    display: inline-block;
    margin: 10px 20px;
    font-family: var(--font-poppins);
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#navbar_list li:hover{
    color: black;
}

#about_01,
#skills_02,
#work_03,
#contact_04{
    color: black;
    font-size: 11px;
    font-weight: 600;
    font-family: var(--font-mono);
}

#nav_resume_button{
    height: 34px;
    width: 70px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#nav_resume_button:hover{
    background-color: white;
    color: black;
}

.side_bar_social_icons{
    position: fixed; 
    width: 150px;
    height: 100vh;
    /* background-color: black; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

#inner_side_bar_social_icons{
    position: relative;
    width: 50px;
    height: 350px;
    /* background-color: white; */
    margin-top: auto;
    display: flex;
    align-items: flex-end;
}

#vertical_line_social_icons{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 150px;
    background-color: black;
}

#social_icons_01{
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 150px);
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#social_icons{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: flex-end; 
}

#social_icons a{
    margin-bottom: 10px;
    font-size: 23px;
    cursor: pointer;
    transition: transform 0.3s;
}

#social_icons a:hover{
    transform: translate(0, -3px);
}

