.sectionProfile{
    height: 100vh;
    min-width: 1000px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_profile_name{
    /* background-color: red; */
}
.name_developer{
    font-family: var(--font-brusher);
    font-size: 120px;
    font-weight: 600;
}

.develope_work{
    font-family: var(--font-mono);
    font-size: 35px;
    font-weight: 520;
}