.sectionAbout {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.sectionabout_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
  
.about_text {
  height: 20%;
  width: 100%;
  background-color: red;
  font-family: var(--font-mono);
  display: flex;
  justify-content: start;
  align-items: center;
}

.aboutText{
  color: black;
  font-size: 190px;
  font-weight: 550;
  letter-spacing: 0.2rem;
}

.about_description{
  width: 100%;
  height: 60%;
  background-color: blue;
}

.about_description_text{
  font-family: var(--font-mono);
  font-size: 25px;
  margin-left: 20%;
  margin-top: 34%;
}

.me_text{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: green;
}

.meText{
  color: black;
  font-family: var(--font-mono);
  font-size: 190px;
  font-weight: 550;
  letter-spacing: 0.2rem;
}



