.section_skills_container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.section_skills_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ss_personal_text{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: red; */
}

.ss_personal_text_span{
    color: black;
    font-family: var(--font-mono);
    font-size: 190px;
    font-weight: 550;
    letter-spacing: 0.2rem;
}

.ss_personalskills_body{
    height: 60%;
    width: 100%;
    display: flex;
    /* background-color: blue; */
}

.ss_personalskills_body_context{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}

.ss_ps_context_01{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}

.ps_context01_inner01{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 60px;
    /* background-color: yellow; */
}

.ps_context01_inner01 span {
    margin-left: 250px;
    font-size: 25px;
    font-weight: 500;
    font-family: var(--font-mono);
}

.ps_context01_inner02{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 60px;
    /* background-color: blue; */
}

.ps_context01_inner02 span {
    margin-left: 250px;
    font-size: 25px;
    font-weight: 500;
    font-family: var(--font-mono);
}

.ss_ps_context_02{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.ps_context02_inner01{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 60px;
    /* background-color: red; */
}

.ps_context02_inner01 span {
    margin-left: 250px;
    font-size: 25px;
    font-weight: 500;
    font-family: var(--font-mono);
}

.ps_context02_inner02{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 60px;
    /* background-color: green; */
}

.ps_context02_inner02 span {
    margin-left: 250px;
    font-size: 25px;
    font-weight: 500;
    font-family: var(--font-mono);
}

.ss_skills_text{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: green; */
}

.ss_skills_text_span{
    color: black;
    font-family: var(--font-mono);
    font-size: 190px;
    font-weight: 550;
    letter-spacing: 0.2rem;
}